@model Product

@{
    ViewBag.Title = "Detail";
}
<style>
    .listright {
        margin-left: 273px;
    }
</style>
<div class="listright">
    <h2>Product Detail</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ProductName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ShortDes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShortDes)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.Raw(Model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>

            <dd>
                <img src="~/images/products/@Html.DisplayFor(model => model.Image)" />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CategoryId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CategoryId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category.CategoryName)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>