@using X.PagedList;
@using X.PagedList.Mvc.Core;
@model IPagedList<Order>
@{
	ViewBag.Title = "Index";
}
<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Order History</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="/Home">Home</a></li>
        <li class="breadcrumb-item active text-white">Order History</li>
    </ol>
</div>
<!-- Single Page Header End -->
<!--  Page Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">
                            Customer Name
                        </th>
                        <th scope="col">Total Price</th>
                        <th scope="col">Order Date</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Address</th>
                        <th scope="col">Payment Method</th>
                        <th scope="col">Payment Process</th>
                        <th scope="col">Note</th>
                        <th scope="col">Details</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td scope="row">
                                <p class="mb-0 mt-4">@item.CustomerName</p>
                            </td>
                            <td>
                                <p class="mb-0 mt-4">@(string.Format("{0:0.000}", item.TotalPrice)) ₫</p>
                            </td>
                            <td>
                                <p class="mb-0 mt-4">@item.OrderDate</p>
                            </td>
                            <td>
                                <p class="mb-0 mt-4">@item.Phone</p>
                            </td>
                            <td>
                                <p class="mb-0 mt-4">@item.Address</p>
                            </td>
                            <td>
                                <p class="mb-0 mt-4">@item.PaymentMethod</p>
                            </td>
                            <td>
                                <p class="mb-0 mt-4">@item.PaymentProcess</p>
                            </td>
                            <td>
                                <p class="mb-0 mt-4">@item.Note</p>
                            </td>
                            <td>
                                <a href="/OrderHistory/Detail/@item.OrderId" class="btn btn-md rounded-circle bg-light border mt-4">
                                   Details
                                </a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
                     new X.PagedList.Mvc.Core.PagedListRenderOptions
            {
                ContainerDivClasses = new[] { "navigation pagination d-flex justify-content-center mt-5" },
                LiElementClasses = new[] { "page-item rounded" },
                PageClasses = new[] { "page-link rounded" }
            })
        </div>
    </div>
</div>
<!--  Page End -->
